<div ng-controller="UsersFormCtrl as ctrl">
  <form class="form-horizontal" name="userForm" ng-validate="ctrl.validationOptions">
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-2 control-label">{{"views.users.form.name" | translate}} <span class="required">*</span></label>
            <div class="col-md-10">
              <input type="text" class="form-control" name="name" ng-model="ctrl.model.name">
            </div>
          </div>
        </div>
      </div>

      <div class="row">      
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-3 control-label">{{"views.users.form.email" | translate}} <span class="required">*</span></label>
            <div class="col-md-6">
              <input type="email" class="form-control" name="email" ng-model="ctrl.model.email">
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="ctrl.id == undefined">
        <div class="col-md-3">
          <div class="form-group">
            <label class="col-md-4 control-label">{{"views.users.form.password" | translate}} <span class="required">*</span></label>
            <div class="col-md-8">
              <input type="password" class="form-control" id="password" name="password" ng-model="ctrl.model.password">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-3 control-label">{{"views.users.form.password_confirmation" | translate}} <span class="required">*</span></label>
            <div class="col-md-6">
              <input type="password" class="form-control" name="password_confirmation" ng-model="ctrl.model.password_confirmation">
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions noborder">
        <button type="button" class="btn blue" ng-click="ctrl.saveUser()">{{(ctrl.id == undefined ? "views.common.save" : "views.common.edit") | translate}}</button>
        <a href="#/users" class="btn default" translate="views.common.back"></a>#modal_delete"></button>
      </div>
    </div>
  </form>

  <div aria-hidden="true" role="basic" tabindex="-1" id="modal_delete" class="modal fade" style="display: none;" ng-if="user.id != ctrl.id">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-red">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
          <h4 class="modal-title" translate="views.common.warning"></h4>
        </div>
        <div class="modal-body">
          {{"views.users.are_you_sure" | translate}} <span class="bold">{{ctrl.model.name}}</span>?
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn dark btn-outline" type="button" translate="views.common.no"></button>
          <button data-dismiss="modal" class="btn red" type="button" translate="views.common.yes" ng-click="ctrl.deleteUser()"></button>
        </div>
      </div>
    </div>
  </div>
</div>