<nav class="navbar" role="navigation" ng-controller="HeaderController as ctrl">
  <div class="container-fluid">
    <div class="havbar-header">      
      <div class="topbar-actions">              
        <div class="btn-group-img btn-group">
          <button type="button" class="btn text-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <ul class="dropdown-menu-v2" role="menu">      
            <li>
              <a href="javascript:;" ng-click="ctrl.logout()" translate="views.common.sign_out">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>