<div class="page-sidebar navbar-collapse collapse md-shadow-z-2-i">
  <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li>
      <a href="#/dashboard">
        <i class="icon-home"></i>
        <span class="title" translate="views.menu.dashboard"></span>
      </a>
    </li>
    <li>
      <a href="#/users">
        <i class="icon-user"></i>
        <span class="title" translate="views.menu.users"></span>
      </a>
    </li>
  </ul>
</div>