<div class="page-sidebar navbar-collapse collapse md-shadow-z-2-i">
  <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li>
      <a href="/">
        <i class="icon-home"></i>
        <span class="title">Home</span>
      </a>
    </li>
    <li>
      <a href="#/users">
        <i class="icon-user"></i>
        <span class="title" translate="views.menu.users"></span>
      </a>
    </li>
    <li>
      <a href="#/partners">
        <i class="icon-user"></i>
        <span class="title" translate="views.menu.partners"></span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="icon-folder"></i>
        <span class="title">Multi Level Menu</span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="javascript:;">
            <i class="icon-settings"></i> Item 1 <span class="arrow"></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="javascript:;">
                <i class="icon-user"></i>
                Sample Link 1 <span class="arrow"></span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="#"><i class="icon-power"></i> Sample Link 1</a>
                </li>
                <li>
                  <a href="#"><i class="icon-paper-plane"></i> Sample Link 1</a>
                </li>
                <li>
                  <a href="#"><i class="icon-star"></i> Sample Link 1</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="icon-camera"></i> Sample Link 1</a>
            </li>
            <li>
              <a href="#"><i class="icon-link"></i> Sample Link 2</a>
            </li>
            <li>
              <a href="#"><i class="icon-pointer"></i> Sample Link 3</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>